p, li, th, td{
    font-family: 'Open Sans', sans-serif;   
    color: darkblue;
    font-size: x-large;
    line-height: 1.5;
}

a{
    background-color: black;
    color:white;
    font-size: medium;
    padding: 3px;
    font-size: 20px;
}

a:hover{
    font-weight: 1000;
    color: pink ;

}

body{
    max-width: 90%;
    margin:auto;
    background: url("abstract-background-light.avif") no-repeat bottom right, linear-gradient(#CAE2F7, #85B7E8);
    background-size: cover;
}

blockquote{
    width: 50%;
    margin-left:20%;
    font-size: 160%;
    background-color: lightgray;
    padding:30px;
    margin-top: 80px;
    margin-bottom: 80px;
    font-style:italic ;

}

img{
    max-width: 200px;
    float: left;
    margin-right: 38px;
    margin-top: 33px;
}

.Good, .Bad{
text-transform: uppercase;
}

.Good{
    color: green;
}

.Bad{
    color: red;
}

tr:nth-child(even){
background-color: white;
}

tr:nth-child(odd){
    background-color: grey;
    }

    #storyp1{
        font-weight: bold;
    }

